.App {
  display: grid;
  width: 66em;
  margin: 50px auto;
  background-color: #eee;
  grid-template-rows: 150px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.PuzzleInfo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}